# Lab 1
Friday Jan 29
<br>Yanhan Si


Email: yanhans@umich.edu 

Office hour: Wed 8:30-9:30 AM (Appointment) 

___
This notebook will just go through the basic topics in order:

* Basic Data Types
    * Numeric types
    * Booleans
    * Strings
* Built-in data structures
    * Lists
        * Slicing
        * List traversal
        * List comprehensions
    * Dictionaries
    * Tuples
    * Sets
* Conditional Statement
* Loop Statement
    * For Loops
    * While Loops
* Functions
* Lambda expressions
___

## 1 Basic Data Types

int, float, boolean, string

There are three distinct numeric types: integers, floating point numbers, and complex numbers.

``int``

use ``type()`` function to show the data type

In [1]:
# Numerical: int
my_int = 6
type(my_int)

int

``float``

In [1]:
# Numerical: float
my_float = 6.6
type(my_float)

float

In [2]:
# Math operations + - * /
res = 1 + 0.1
print('value: {}, type: {}'.format(res, type(res)))

value: 1.1, type: <class 'float'>

- ``/`` operation will always product a result with ``float`` type
- to get ``int`` type, use ``//``

In [3]:
my_float = 2 / 10  # quotient of 2 and 10
print('value: {}, type: {}'.format(my_float, type(my_float)))

value: 0.2, type: <class 'float'>

In [4]:
my_int = 7 // 2 # truncated division which leaves out the remainder
print('value: {}, type: {}'.format(my_int, type(my_int)))

value: 3, type: <class 'int'>

``Boolean``

There are only two type of Boolean values. They are True and False.

In [7]:
t = True
f = False

type(t) # class 'bool'

bool

Four ways to create Booleans

1. literal expression

2. comparison operator ==, !=, <, >,>=,<=

3. logical operator: ``and``, ``or``, ``not``

4. ``in`` and ``not in`` operator: The in operator tests if one string is a substring of another; We can also check whether an item is in a list

In [8]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;

False
True
False

In [9]:
print('a' in 'a')
print('apple' in 'apple')
print('' in 'a')
print('' in 'apple')

True
True
True
True


- ``bool()`` function can transfer other data types to boolean types: Transfer non-zero, non-empty values (including number, string, list, etc.) to True; And transfer zero, empty values (e.g. 0, 0.0, '', {}) to False.

In [10]:
print( bool(1) )
print( bool(2.0) )
print( bool('abc') )
print( bool([1,2,3]))

True
True
True
True

In [11]:
print( bool(0) ) # integer zero
print( bool(0.0) ) # float zero
print( bool('') ) # empty string
print( bool([])) # empty list

False
False
False
False

#### Strings

Strings are sequences of characters
 
- can use ``''``, ``""``, ``''''''`` pairs to represent string

In [11]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter.
print(hello, len(hello))

hello 5

- String concatenation

In [12]:
hw = hello + ' ' + world  # String concatenation
print (hw)  # prints "hello world"

hello world

- Python strings provide a number of built-in operations, called methods

In [12]:
s = "hello"
print (s.capitalize())  # Capitalize a string; prints "Hello"
print (s.upper())       # makes all letters in str upper case. str.lower() is analogous
print (s.replace('l', '(ell)'))  # Replace all instances of one substring with another;
                                 # prints "he(ell)(ell)o"
print ('  world '.strip())  # Strip leading and trailing whitespace; prints "world"
print (s.startswith('h'), s.endswith('lo'))   # True, True

Hello
HELLO
he(ell)(ell)o
world
True True

#### String Formatting
#### some useful ways to perform string formatting

- .format()
- f-string
- %

In [15]:
alpha = 0.3
classifier = 'svm'
seed = 100


# (1) .format()
print( "{}, {}, {}".format(alpha, classifier, seed) )
print( "{1}, {2}, {0}".format(alpha, classifier, seed) )
print( "alpha = {:.3f}".format(alpha) )

print("alpha={alpha}, classifier={classifier}, seed={seed}".format(
    alpha=alpha, classifier=classifier, seed=seed))

0.3, svm, 100
svm, 100, 0.3
alpha = 0.300
alpha=0.3, classifier=svm, seed=100

In [16]:
# (2) f-string

name = 'Fred'
age = 42
f'He said his name is {name} and he is {age} years old.'

'He said his name is Fred and he is 42 years old.'

In [16]:
# (3) % operator


"%s %s %s" % (alpha, classifier, seed)

'0.3 svm 100'

## 2 Data Structure



- list
- tuple
- dictionary
- set

#### Lists

Python lists are sequences whose values can be of any data type

In [17]:
myList = [3, 1, 2]   # create a list by putting its elements between square brackets, separated by commas.
print (myList)
print(myList[2])
print (myList[-1])   # Negative indices count from the end of the list; prints "2"

[3, 1, 2]
2
2

In [18]:
myList[2] = 'foo'    # The elements of a list need not be of the same type.
print(myList)

[3, 1, 'foo']

In [19]:
myList.append('bar') # Add a new element to the end of the list
print(myList)

[3, 1, 'foo', 'bar']

In [20]:
x = myList.pop()     # Remove and return the last element of the list
print (x, myList)

bar [3, 1, 'foo']

In [21]:
len(myList)          # Get length

3

#### Slicing

 Selecting subsequences.

In [22]:
# range is a built-in function that creates a `generator` of integers (Python 3). In python 2, was returning a list.
nums = [0, 1, 2, 3, 4]

print ("(1)", nums)         # Prints "[0, 1, 2, 3, 4]"
print ("(2)",  nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print ("(3)", nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print ("(4)", nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print ("(5)", nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print ("(6)", nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"

nums[2:4] = [8, 9] # Assign a new sublist to a slice
print ("(7)", nums)         # Prints "[0, 1, 8, 9, 4]"
print ("(8)", nums[::-1])   # Reverts a list

(1) [0, 1, 2, 3, 4]
(2) [2, 3]
(3) [2, 3, 4]
(4) [0, 1]
(5) [0, 1, 2, 3, 4]
(6) [0, 1, 2, 3]
(7) [0, 1, 8, 9, 4]
(8) [4, 9, 8, 1, 0]

### <font color='red'>Exercise!</font>
- Use slicing method to get all the elements with odd index

In [23]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

# Please write your code here

#### list traversal

You can loop over the elements of a list like this:

In [24]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

You can also loop over the elements of a list by index

In [25]:
animals = ['cat', 'dog', 'monkey']
for i in range(len(animals)):
    print(animals[i])

cat
dog
monkey

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [26]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print ('index: %d, element: %s' % (idx + 1, animal))

index: 1, element: cat
index: 2, element: dog
index: 3, element: monkey

`zip()` makes an iterator that aggregates elements from each of the iterables.

In [27]:
x = [1, 2, 3, 4]
y = [5, 6, 7, 8]
z = [9, 10, 11, 12]

for i, j, k in zip(x, y, z):
    print(i, j, k)

1 5 9
2 6 10
3 7 11
4 8 12

#### List comprehensions:


Basic pattern: 

[f(x) for x in mylist] 

creates a new list, whose elements are the elements of mylist, each with function f applied.

In [28]:
mylist = [0, 1, 2, 3, 4]
squares = [ x ** 2 for x in mylist]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions are a special pattern supplied by Python. They’re one of the features of Python that makes it appealing. Very expressive way to write operations!

####  Filter with list comprehensions

List comprehensions can also contain conditions:


Basic pattern:

[f(x) for x in mylist if boolean_expr]

creates a new list of all and only the elements of mylist that satisfy boolean_expr , with f applied.

In [29]:
mylist = [0, 1, 2, 3, 4]
even_squares = [ x ** 2 for x in mylist if x % 2 == 0]
print (even_squares)

[0, 4, 16]

#### Tuples

- Similar to a list, in that it is a sequence of values
- But unlike lists, tuples are immutable

In [30]:
t = (5, 6)       # Create a tuple 
print (type(t))
t[0]

<class 'tuple'>

5

- We can not change the element in tuple since its immutable

In [32]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

#### Dictionary 

Python dictionaries generalize lists

Allow indexing by arbitrary immutable objects rather than integers 

Fast lookup and retrieval

In [34]:
d = {"cat": 2, "dog":3} #  Dictionary maps keys to values.
d["fish"] = 4

d

{'cat': 2, 'dog': 3, 'fish': 4}

In [35]:
del d["fish"]
d

{'cat': 2, 'dog': 3}

In [36]:
d["cat"] #Access the value associated to key x by dictionary[x]

2

#### Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [37]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [38]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [39]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))       

animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

In [40]:
from math import sqrt
{int(sqrt(x)) for x in range(30)}

{0, 1, 2, 3, 4, 5}

In [41]:
{int(sqrt(x)): x for x in range(30)}

{0: 0, 1: 3, 2: 8, 3: 15, 4: 24, 5: 29}

## Conditional Statement

Sometimes we want to do different things depending on certain conditions

In [42]:
score = 96
if score > 90:
    print('you get A in this course!') # executed if condition evaluates to True

you get A in this course!

In [43]:
score = 96
if score < 60:
    print('sorry, you fail in this course~~~') 
else:
    print('congradulation, you pass the course!') # executed if condition evaluates to False

congradulation, you pass the course!

If we have more conditions, use ``elif``

In [44]:
score = 96
if score < 60:
    print('sorry, you fail in this course~~~')
elif score > 95:
    print("you get A+ in this course!")
else:
    print('congradulation, you pass the course!')

you get A+ in this course!

## Loop Statement

used to automate repetitive tasks.

#### for loop

In [45]:
seq = [1,2,3,4,5]

for num in seq:
    print(num)

1
2
3
4
5

#### while loop

In [46]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## Functions


In the context of programming, a function is a named sequence of statements that performs a computation. When you define a function, you specify the name and the sequence of statements. Later, you can “call” the function by name.

Python functions are defined using the `def` keyword. For example:

In [47]:
def my_func(): 
    """
    Docstring goes here.
    """
    print("hello world")

In [48]:
my_func() # if we do not pass the value of parameter, will use default value

hello world

## Lambda expressions

In [49]:
def times2(var):
    return var*2

times2(2)

4

In [50]:
times2 = lambda x: x*2

times2(2)

4

### Map and filter

map() : apply the given function to each item of a given iterable (list, tuple etc.)

filter() : filter the given sequence with the help of a function that tests each element in the sequence to be true or not

In [51]:
seq = [1, 2, 3, 4, 5]

In [52]:
map(times2, seq) # return a map object

In [53]:
list(map(times2, seq)) # convert the map object to list

[2, 4, 6, 8, 10]

In [54]:
filter(lambda item: item%2 == 0, seq) # return a filter object

In [55]:
list(filter(lambda item: item%2 == 0,seq)) # convert the filter object to list

[2, 4]